:root {
  /* colors */
  --global-color: #013e67;
  --global-navbar-color: #002239;
  --global-selected-color: #004370;
  --global-hover-color: #dbd6d6;
  --global-title-color: #02021d;
  /* opacity */
  --global-opacity: 0.4;
  /* transitions */

  --bal-animation-name: balVal;
  --bal-animation-duration: 0.5s;
  --global-timing-function: ease;
  --bal-animation-direction: forwards;

  --global-border-width: 1px;
  --global-border-style: solid;

  --global-padding: 24px;

  --global-font-size: 18px;

  --global-display-hide: none;

  --global-box-shadow-color: rgba(0, 0, 0, 0.2);
  --global-bs-color-h-v-blur-spread2: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
  --global-bs-color-h-v-blur-spread3: rgba(255, 255, 255, 0.05) 0px 0px 0px 1px;
  --global-box-shadow-inset: inset;
}

/*------------------------------------*\
  #GENERIC
  \*------------------------------------*/

/*
      Generic: Page
      ---
      Global page styles + universal box-sizing:
  */

html {
  font-size: 16px;
  line-height: 1.5;
  font-family: nunito-sans, 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*------------------------------------*\
  #Elements
  \*------------------------------------*/

/*
  Elements: Images
  ---
  Default markup for images to make them responsive
  */

img {
  max-width: 100%;
  vertical-align: top;
}

/*
      Elements: typography
      ---
      Default markup for typographic elements
  */

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 26px;
  line-height: 48px;
  margin: 8px 0 0 16px;
}

h2 {
  font-size: 32px;
  line-height: 40px;
  margin: 0 0 24px;
}

h3 {
  font-size: 26px;
  line-height: 32px;
  margin: 0 0 24px;
}

h4,
h5,
h6 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
  margin: 0 0 24px;
}

ul,
ol {
  padding-left: var(--global-padding);
}

li ul,
li ol {
  margin-bottom: 0;
}

blockquote {
  font-style: normal;
  font-size: 23px;
  line-height: 32px;
  margin: 0 0 24px;
}

blockquote * {
  font-size: inherit;
  line-height: inherit;
}

figcaption {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-top: 8px;
}

hr {
  border: 0;
  height: 1px;
  background: LightGrey;
  margin: 0 0 24px;
}

a {
  font-size: var(--global-font-size);
  color: white;
  text-decoration: none;
}

a:visited,
a:active {
  color: white;
}

a:hover,
a:focus {
  color: var(--global-hover-color);
}

label,
input {
  display: block;
}

select {
  max-width: 170px;
  width: 100%;
}

input::placeholder {
  color: gray;
}

table {
  margin: 0px auto 16px;
  width: 95%;
  table-layout: fixed;
  padding-bottom: 16px;
}
td {
  font-size: var(--global-font-size);
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}
th {
  font-size: 20px;
  padding-bottom: 16px;
  color: var(--global-title-color);
}

svg {
  width: 24px;
  height: 24px;
}

span {
  display: block;
}

/* tr:first-child {
  color: white;
  background: var(--global-selected-color);
} */

/* c-standing*/
.c-standings {
  max-width: 90%;
  /* background-color: rgb(248, 248, 248); */
  margin: 32px auto;
  border: 2px var(--global-border-style) var(--global-color);
  border-radius: 8px;
  box-shadow: var(--global-box-shadow-color) 0px 12px 28px 0px, var(--global-bs-color-h-v-blur-spread2), var(--global-bs-color-h-v-blur-spread3) var(--global-box-shadow-inset);
  opacity: var(--global-opacity);
  animation: smooth 0.2s var(--global-timing-function) 0.1s forwards;
  background-color: rgb(245, 244, 247);
}

.c-team {
  text-align: left;
}

.c-titel-team-naam {
  width: 300px;
}

.c-team-position {
  width: 20px;
}

.c-navbar {
  z-index: 1;
  display: grid;
  grid-template-columns: 250px repeat(4, 1fr);
  text-align: center;
  background-color: var(--global-navbar-color);
  padding: var(--global-padding) 16px;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.is-selected {
  background-color: var(--global-selected-color);
  padding: var(--global-padding) 0;
  margin-top: -24px;
  margin-bottom: -24px;
  opacity: 0;
  animation: change 0.4s var(--global-timing-function) 0.1s forwards;
}

.c-nav__option {
  font-size: var(--global-font-size);
  color: white;
  padding-left: 80px;
  padding-right: 80px;
}

.c-nav__option-mobile {
  border-bottom: var(--global-border-width) var(--global-border-style) transparent;
  border-bottom-width: 16px;
  font-size: 26px;
  color: black;
}

.c-nav__option-mobile:hover {
  color: var(--global-hover-color);
  cursor: pointer;
}

.c-nav__option:hover {
  color: var(--global-hover-color);
  cursor: pointer;
}

.c-matches,
.c-topscorers {
  border-collapse: collapse;
}

.c-match:nth-child(even) {
  background-color: rgb(241, 241, 241);
}

.c-match {
  border-bottom: var(--global-border-width) var(--global-border-style) rgba(8, 8, 8, 0.15);
  box-shadow: var(--global-box-shadow-color) 0px 2px 12px 0px, var(--global-bs-color-h-v-blur-spread2), var(--global-bs-color-h-v-blur-spread3) var(--global-box-shadow-inset);
  opacity: var(--global-opacity);
  animation: smooth 0.2s var(--global-timing-function) 0.1s forwards;
}

.c-player {
  border-bottom: var(--global-border-width) var(--global-border-style) rgba(8, 8, 8, 0.15);
  box-shadow: var(--global-box-shadow-color) 0px 1px 3px 0px, var(--global-bs-color-h-v-blur-spread2), var(--global-bs-color-h-v-blur-spread3) var(--global-box-shadow-inset);
  opacity: var(--global-opacity);
  animation: smooth 0.2s var(--global-timing-function) 0.1s forwards;
}

.c-select-competition {
  margin: auto;
  padding: 4px 0;
}

.u-hide {
  display: var(--global-display-hide);
}

.c-bal {
  animation: balBounce 0.8s var(--global-timing-function) 0.1s forwards;
}

.c-bal0 {
  animation: var(--bal-animation-name) var(--bal-animation-duration) var(--global-timing-function) 0s var(--bal-animation-direction);
}
.c-bal1 {
  animation: var(--bal-animation-name) var(--bal-animation-duration) var(--global-timing-function) 0.2s var(--bal-animation-direction);
}
.c-bal2 {
  animation: var(--bal-animation-name) var(--bal-animation-duration) var(--global-timing-function) 0.4s var(--bal-animation-direction);
}
.c-bal3 {
  animation: var(--bal-animation-name) var(--bal-animation-duration) var(--global-timing-function) 0.6s var(--bal-animation-direction);
}
.c-bal4 {
  animation: var(--bal-animation-name) var(--bal-animation-duration) var(--global-timing-function) 0.8s var(--bal-animation-direction);
}
.c-bal5 {
  animation: var(--bal-animation-name) var(--bal-animation-duration) var(--global-timing-function) 1s var(--bal-animation-direction);
}
.c-bal6 {
  animation: var(--bal-animation-name) var(--bal-animation-duration) var(--global-timing-function) 1.2s var(--bal-animation-direction);
}
.c-bal7 {
  animation: var(--bal-animation-name) var(--bal-animation-duration) var(--global-timing-function) 1.4s var(--bal-animation-direction);
}

.c-app {
  z-index: 0;
  margin-top: 108px;
  position: relative;
  will-change: transform;
  transition: transform 0.25s var(--global-timing-function);
  display: grid;
}

.c-mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  /*opacity: 0; */
  pointer-events: none;
  /*transition: opacity 0.25s;*/
  transition: opacity 0.25s var(--global-timing-function);
}

.has-mobile-nav .c-mobile-nav {
  /*opacity: 1;*/
  pointer-events: auto;
}

.c-mobile-nav__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.c-mobile-nav__bg {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #202024;
  transition: opacity 0.25s var(--global-timing-function);
}

.has-mobile-nav .c-mobile-nav__bg {
  opacity: 0.5;
}

.c-mobile-nav__body {
  position: relative;
  padding: var(--global-padding);
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  transform: translateX(-100%);
  transition: transform 0.25s var(--global-timing-function);
}

.has-mobile-nav .c-mobile-nav__body {
  transform: translateX(0);
}

.c-nav-trigger {
  border: 2px var(--global-border-style) rgb(224, 217, 253);
  background-color: var(--global-navbar-color);
}

.c-nav-trigger__svg {
  margin-top: 2px;
  fill: white;
}

.c-nav-cancel {
  background-color: #fff;
  border: none;
}

.c-nav-cancel__svg {
  fill: grey;
  margin-left: -8px;
  width: 26px;
  height: 26px;
}

.c-select-competition {
  border: var(--global-border-width) var(--global-border-style) rgb(224, 217, 253);
  color: white;
  background-color: var(--global-navbar-color);
}

.c-logo {
  margin-top: -60px;
  margin-bottom: -60px;
}

.c-logo__svg {
  margin-left: 64px;
  margin-top: 18px;
  color: white;
  width: 120px;
  height: 120px;
}

@keyframes smooth {
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes balVal {
  100% {
    transform: translateY(10px);
  }
}

@keyframes balBounce {
  20% {
    transform: translateY(14px);
  }
  40% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(11px);
  }
  80% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(8px);
  }
}

@keyframes change {
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  70% {
    opacity: 0.7;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1250px) {
  .c-nav__option {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 1100px) {
  .c-nav__option {
    padding-left: 40px;
    padding-right: 40px;
  }

  .c-navbar {
    grid-template-columns: 200px repeat(4, 1fr);
  }
}

@media (max-width: 950px) {
  .c-nav__option {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 890px) {
  .c-header__mobile-nav-trigger {
    display: var(--global-display-hide);
  }
  .c-mobile-nav {
    display: var(--global-display-hide) !important;
  }

  .c-logo {
    display: var(--global-display-hide);
  }
}

@media (max-width: 889px) {
  .u-bigger-screen {
    display: var(--global-display-hide);
  }

  .c-header__mobile-nav-trigger {
    margin-right: 16px;
  }

  .c-titel-team-naam {
    width: 250px;
  }
  .is-selected {
    background: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0 0;
    animation: change 0.4s var(--global-timing-function) 0.1s forwards;
  }

  .c-navbar {
    grid-template-columns: repeat(3, 1fr);
  }

  .c-select-competition {
    margin-left: 24px;
  }

  .c-nav-trigger {
    margin-right: -40px;
  }
}

@media (max-width: 550px) {
  .c-titel-team-draw,
  .c-titel-team-lost,
  .c-team-draw,
  .c-team-lost {
    display: var(--global-display-hide);
  }

  .c-titel-team-naam {
    width: 230px;
  }

  .c-header__mobile-nav-trigger {
    margin-left: 20%;
  }

  .c-hour {
    display: var(--global-display-hide);
  }

  .c-logo {
    display: var(--global-display-hide);
  }

  .c-navbar {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .c-titel-team-won,
  .c-team-won {
    display: var(--global-display-hide);
  }
}

@media (max-width: 430px) {
  .c-titel-team-played,
  .c-team-played {
    display: var(--global-display-hide);
  }

  .c-header__mobile-nav-trigger {
    margin-left: 20%;
  }

  th {
    font-size: var(--global-font-size);
  }

  .c-select-competition {
    margin-left: 8px;
  }
}

@media (max-width: 355px) {
  .c-titel-team-naam {
    width: 150px;
  }
}
